# remove all files (except a specific whitelist) from the export made by `git archive`
# see https://blog.madewithlove.be/post/gitattributes/ and https://git-scm.com/docs/gitattributes
* export-ignore
src/ !export-ignore
src/** !export-ignore
composer.json !export-ignore
README.md !export-ignore
CHANGELOG.md !export-ignore
